/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
  font-family: "Roboto", sans-serif;
}

/* Remove default margin in favour of better control in authored CSS */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
  margin: 0;
}

/* Set shorter line heights on headings and interactive elements */
h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

/* Main CSS starts here */

.container {
  display: flex;
  flex-direction: column-reverse;
}

.image img {
  width: 100%;
}

.left-section {
  padding: 0 1.5rem;
}

.title {
  font-size: 2.5rem;
  font-weight: bold;
}

.list {
  list-style-image: url("./assets/images/icon-list.svg");
  padding-left: 1.5rem;
}

/* "Email Address" */
.label {
  font-size: 0.875rem;
}

/* Input text box */
.email {
  width: 100%;
  margin: auto;
  padding: 0.5rem;
}

/* button */
.submit-subscribe, .dismiss {
  width: 100%;
  padding: 1rem;
  margin-top: 1rem;
  background-color: #242742;
  color: white;
  font-weight: bold;
  border-radius: 0.5rem;
  border-style: none;
}

.submit-subscribe:hover, .dismiss:hover {
  background-color: hsl(4, 100%, 67%);
}


/* CSS of response message starts here */
.success{
  margin-top:3rem;
  padding:2rem;
  display:none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  line-height: 1.5rem;
}

.thanks-tick{
  width: 5rem;
  height: 5rem;
}

.dismiss{
  padding:1rem;
}

/* End of response message */

.footer {
  text-align: center;
}

@media screen and (min-width: 1024px) {
  body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #36384D;
  }

  .container {
    flex-direction: row;
    align-items: center;
    background-color: white;
    border-radius: 1rem;
    max-width: 50%;
  }

  .image img {
    content: url("./assets/images/illustration-sign-up-desktop.svg");
    padding: 1rem;
  }

  .footer {
    align-self: flex-end;
    text-align: center;
  }

  .title{
    font-size: 4rem;
  }

  .left-section{
    padding: 3rem 2rem;
  }



  .left-section >ul{
    padding-left: 2rem;
  }

  

  .left-section p{
    font-size: 1.2rem;
  }

  .success{
    max-width: 30rem;
    background-color: white;
    border-radius: 1rem;
    padding: 2rem;
    word-wrap: break-word;
  }

  .success >.title{
    margin-top :0;
  }


  
}
